@import './reset.scss';
@import './variables.scss';

html,
body,
#__next {
  height: 100%;
  font-family: 'Inter', sans-serif;
}

body {
  color: $white;
  background-color: $black;
  overflow-x: hidden;
}

.section {
  width: 100%;
  display: grid;
  grid-template-columns: minmax(64px, 1fr) minmax(auto, 1680px) minmax(64px, 1fr);

  @media (max-width: $screen-md) {
    grid-template-columns: minmax(16px, 1fr) minmax(auto, 1680px) minmax(16px, 1fr);
  }

  > * {
    grid-column: 2 / 3;
  }

  > .expand {
    grid-column: 1 / 4;
  }
}

.title {
  font-size: 36px;
  line-height: 1em;

  @media (min-width: $screen-sm) {
    font-size: 64px;
  }
}

.tiny-text {
  @include tiny-text;
}

.small-text {
  @include small-text;
}

.medium-text {
  @include medium-text;
}

.big-text {
  @include big-text;
}

.large-text {
  @include large-text;
}

.extra-large-text {
  @include extra-large-text;
}

.bold {
  font-weight: 700;
}

.uppercase {
  text-transform: uppercase;
}

.underline {
  text-decoration: underline;
}

.primary {
  font-family: $font-primary;
}

.secondary {
  font-family: $font-secondary;
}

.tertiary {
  font-family: $font-tertiary;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
  // background: #e8e8e8;
  background: black;
  color: white;
  --icon-color: white;
  border: 1px solid white;
  // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.18);
  height: 64px;
  align-self: flex-start;
  font-family: inherit;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0px 24px;

  cursor: pointer;

  &:hover {
    background: white;
    color: black;
    --icon-color: black;
  }

  &.xs {
    height: 36px;
    @include small-text;
    padding: 0 10px;
  }

  &.sm {
    height: 48px;
    @include medium-text;
    padding: 0 16px;
  }

  &.grey {
    color: rgba(255, 255, 255, 0.5);
    --icon-color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);

    &:hover {
      background: white;
      color: black;
      --icon-color: black;
    }
  }

  &.blue {
    background: white;
    color: $color-blue;
    --icon-color: #{$color-blue};

    &:hover {
      background: rgb(238, 238, 238);
      color: rgb(128, 128, 128);

      * {
        --icon-color: rgb(128, 128, 128);
      }
    }
  }

  &.blue-fill {
    background: $color-blue;
    color: white;
    --icon-color: white;

    &:hover {
      background: rgb(238, 238, 238);
      color: rgb(128, 128, 128);
      --icon-color: rgb(128, 128, 128);
    }
  }

  &.orange {
    background: white;
    color: $color-primary;
    --icon-color: #{$color-primary};

    &:hover {
      background: rgb(238, 238, 238);
      color: rgb(128, 128, 128);

      * {
        --icon-color: rgb(128, 128, 128);
      }
    }
  }

  &.orange-fill {
    background: $color-primary;
    color: white;
    --icon-color: white;
    border: 1px solid $color-primary;

    &:hover {
      background: black;
      color: $color-primary;
      --icon-color: rgb(128, 128, 128);
    }
  }
}

a {
  color: inherit;
  text-decoration: inherit;

  &.generic {
    font-weight: bold;
  }

  &.blue {
    color: $color-link;
    --icon-color: #{$color-link};
  }

  &.hover-underline {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.icon {
  * {
    fill: var(--icon-color);
  }
}

.copyright-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;

  .copyright {
    flex-shrink: 1;
  }

  .empire {
    margin-left: 40px;
    flex-shrink: 0;
  }
}

input {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
  color: white;

  &:active {
    color: white;
  }

  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding-top: 8px;
}

.orange {
  color: $color-primary;
}

.threejs { 
  position: absolute;
  top: 0;
  z-index: -1;
}