@import 'styles/variables.scss';

.scene {
  height: 100vh;
  max-height: 100vh;

  &.no-overflow {
    overflow: hidden;
  }

  @media (max-width: $screen-xl) {
    &.grow-vertically {
      min-height: 100vh;
      height: auto;
      max-height: none;
    }

    &.grow-naturally {
      min-height: auto;
    }
  }
}

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  > * {
    flex-shrink: 0;
  }

  .animated-background {
    position: absolute;
    z-index: -1;
    top: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.7;
    right: 0px;

    @media (min-width: $screen-lg) {
      opacity: 1;
    }
  }

  :global(#title-section) {
    flex-grow: 1;
  }

  .title-block {
    display: flex;
    flex-direction: column;
    font-family: $font-secondary;
    margin-top: 24px;

    @media (min-width: $screen-lg) {
      margin-top: 82px;
    }

    h1 {
      margin-bottom: 0.2em;
    }

    svg {
      width: 100px;
    }

    span {
      font-weight: 300;
      font-family: $font-tertiary;
      color: $color-grey;
      margin-left: 0.2em;
    }
  }

  .bottom-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    > * {
      margin-top: 16px;

      @media (min-width: $screen-xl) {
        margin-top: 0px;
      }
    }

    @media (min-width: $screen-xl) {
      flex-direction: row;
    }

    .date-block {
      display: flex;
      align-items: center;
      flex-shrink: 0;

      @media (min-width: $screen-xl) {
        flex-basis: 350px;
        margin-right: 100px;
      }

      .date {
        font-family: $font-tertiary;
        font-size: 32px;
        line-height: 1em;

        @media (min-width: $screen-sm) {
          font-size: 48px;
        }
      }

      .where {
        margin-left: 1em;
        display: flex;
        flex-direction: column;
        @include big-text;
        font-family: $font-secondary;
        text-transform: uppercase;

        span {
          @include tiny-text;
          font-weight: 700;
          font-family: $font-primary;
          color: $color-orange;
        }
      }
    }

    .call-to-action {
      flex-grow: 1;
      flex-shrink: 0;

      > * {
        margin-right: 16px;
      }
    }

    .location {
      display: flex;
      align-items: center;
      border-top: 1px solid $standard-border-color;
      padding-top: 16px;
      padding-bottom: 16px;

      @media (min-width: $screen-xl) {
        padding-top: 0px;
        padding-bottom: 0px;
        border-top: none;
      }

      svg {
        margin-right: 8px;
        font-size: 32px;
        --icon-color: #{$color-grey};
      }
    }
  }

  .scroll-to-continue {
    display: none;
    flex-direction: row;
    padding: 16px 0px;
    margin-bottom: 25px;
    border-bottom: 1px solid $standard-border-color;

    @media (min-width: $screen-xl) {
      display: flex;
    }

    p {
      margin-left: 16px;
      color: $color-grey;
      @include tiny-text;
      text-transform: uppercase;
    }
  }
}

.about {
  // margin-top: 25px;
  position: relative;
  height: 100%;

  .info-block {
    display: flex;
    flex-direction: row;
    padding-top: 25px;

    @media (min-width: $screen-xl) {
      padding-top: 75px;
    }

    .left {
      flex-basis: 350px;
      margin-right: 100px;
      flex-shrink: 0;
      display: none;

      @media (min-width: $screen-xl) {
        display: block;
      }
    }

    .right {
      flex-grow: 1;
      z-index: 1;
      flex-shrink: 1;

      .block {
        margin-bottom: 24px;

        @media (min-width: $screen-xl) {
          margin-bottom: 48px;
        }

        @media (min-width: $screen-lg) {
          padding-right: 100px;
        }

        .header {
          @include small-text;
          font-weight: 700;
          text-transform: uppercase;
          margin-bottom: 8px;
        }

        p {
          line-height: 1em;
        }
      }

      .call-to-action {
        > * {
          margin-right: 16px;
        }
      }
    }
  }
}

.background {
  // transition: transform 0.2s ease-out;

  > div {
    transform: translateY(var(--translateY));
  }
}

.background {
  overflow: hidden;
  display: none;
  opacity: 0.65;

  @media (min-width: $screen-xl) {
    display: block;
  }
}

.foreground {
  opacity: 0.5;

  @media (min-width: $screen-xl) {
    opacity: 1;
  }
}

.foreground,
.background,
.background > div {
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0px;

  img {
    object-fit: cover !important;

    @media (min-width: $screen-xl) {
      object-fit: contain !important;
    }
  }
}

.faq {
  display: flex;
  flex-direction: column;
  margin-top: 40px;

  @media (min-width: $screen-lg) {
    flex-direction: row;
  }

  .left {
    flex-basis: auto;
    margin-bottom: 16px;

    @media (min-width: $screen-lg) {
      flex-basis: 350px;
      margin-right: 100px;
      flex-shrink: 0;
    }
  }

  .right {
    flex-grow: 1;
    user-select: none;
  }
}

.footer {
  padding-top: 40px;
  border-top: 1px solid $standard-border-color;
  margin-top: 40px;

  .block-1 {
    display: flex;
    padding-bottom: 40px;
    flex-direction: column;

    @media (min-width: $screen-lg) {
      flex-direction: row;
    }

    .left {
      flex-basis: 50%;
      margin-right: 50px;

      .header {
        margin-bottom: 20px;

        .zuck-friends {
          display: inline-block;
          position: relative;
          cursor: pointer;

          &:hover {
            .web2 {
              display: block;
              opacity: 1;
              transform: rotate(30deg);
            }
          }

          .web2 {
            transition: transform 0.5s linear;
            opacity: 0;
            position: absolute;
            width: 150px;
            height: 150px;
            margin-left: 0px;
            transform: rotate(275deg);
          }
        }
      }
    }

    .right {
      display: flex;
      flex-grow: 1;
      flex-basis: 50%;
      flex-shrink: 1;
      justify-content: flex-start;
      margin-top: 16px;

      @media (min-width: $screen-lg) {
        justify-content: flex-end;
        margin-top: 0px;
      }

      .content {
        flex-direction: column;
        display: flex;
        flex-basis: 400px;

        .logos {
          margin-top: 25px;
          margin-right: 50px;
          display: flex;
          justify-content: space-between;

          @media (min-width: $screen-lg) {
            margin-top: 50px;
          }

          > * {
            width: 120px;

            &:first-child {
              margin-right: 16px;
            }
          }
        }
      }
    }
  }

  .block-2 {
    display: flex;
    border-top: 1px solid $standard-border-color;
    border-bottom: 1px solid $standard-border-color;
    padding-top: 30px;
    padding-bottom: 30px;
    flex-direction: column;

    @media (min-width: $screen-md) {
      flex-direction: row;
    }

    .left {
      flex-shrink: 1;
      flex-grow: 1;
      display: flex;
      margin-right: 16px;
      // align-items: center;
      justify-content: space-between;

      .logo-block {
        flex-grow: 1;
        align-items: center;
        display: flex;
        font-weight: bold;
        font-size: 56px;

        svg {
          width: 44px;
          height: 44px;
        }

        .title {
          @include tiny-text;
          margin-left: 15px;

          span {
            color: $color-orange;
          }
        }
      }

      .social-media {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        --icon-color: white;

        p {
          margin-bottom: 14px;
        }
      }
    }

    .right {
      flex-basis: 50%;
      display: flex;
      flex-shrink: 0;
      justify-content: flex-end;
      border-top: 1px solid $standard-border-color;
      margin-top: 30px;
      padding-top: 30px;
      flex-grow: 1;

      @media (min-width: $screen-md) {
        padding-top: 0px;
        margin-top: 0px;
        border-top: none;
      }

      .newsletter {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        @media (min-width: $screen-md) {
          flex-grow: 0;
        }

        .input-submit {
          flex-shrink: 0;
          display: flex;
          flex-grow: 1;
          margin-top: 16px;

          :global(#mc_embed_signup) {
            flex-grow: 1;
            align-self: flex-end;
            margin-right: 24px;

            @media (min-width: $screen-md) {
              width: 250px;
            }

            input {
              width: 100%;
            }
          }

          > button {
            flex-shrink: 0;
          }
        }
      }
    }
  }
}

.accordion-item {
  list-style-type: none;
  margin-top: 10px;
  background: #1c1c1c;
  border: 1px solid #6b6b6b;
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    background: #262626;
  }

  &:first-child {
    margin-top: 0px;
  }

  .header {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    svg {
      flex-shrink: 0;
      --icon-color: white;
      font-size: 0.65em;
      margin-left: 12px;
    }
  }

  .content {
    display: none;
    padding: 15px;
    padding-top: 0px;
    color: #dadada;
  }

  &.open {
    .title {
      font-weight: bold;
    }

    .content {
      display: block;
    }
  }
}

.grey {
  color: #d8d8d8;
}
