@import 'styles/variables.scss';

.scene {
  $height: 100vh;
  height: $height;
  max-height: $height;

  &.no-overflow {
    overflow: hidden;
  }

  &.grow-vertically {
    min-height: $height;
    height: auto;
    max-height: none;
  }

  &.grow-naturally {
    min-height: auto;
  }
}

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  > * {
    flex-shrink: 0;
  }

  .animated-background {
    position: absolute;
    z-index: -1;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
  }

  :global(#title-section) {
    flex-grow: 1;
  }

  .title-block {
    display: flex;
    flex-direction: column;
    font-family: $font-secondary;
    margin-top: 24px;

    @media (min-width: $screen-lg) {
      margin-top: 82px;
    }

    h1 {
      margin-bottom: 0.2em;
    }

    span {
      font-weight: 300;
      font-family: $font-tertiary;
      color: $color-grey;
      margin-left: 0.2em;
    }
  }

  .bottom-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width: $screen-lg) {
      flex-direction: row;
    }

    .date-block {
      display: flex;
      align-items: center;

      .date {
        font-family: $font-tertiary;
        font-size: 32px;
        line-height: 1em;

        @media (min-width: $screen-sm) {
          font-size: 48px;
        }
      }

      .where {
        margin-left: 1em;
        display: flex;
        flex-direction: column;
        @include big-text;
        font-family: $font-secondary;
        text-transform: uppercase;

        span {
          @include tiny-text;
          font-weight: 700;
          font-family: $font-primary;
          color: $color-orange;
        }
      }
    }

    .call-to-action {
      > * {
        margin-right: 16px;
      }
    }

    .location {
      display: flex;
      --icon-color: #{$color-grey};

      svg {
        font-size: 32px;
        color: $color-grey;
      }
    }
  }

  .scroll-to-continue {
    display: flex;
    flex-direction: row;
    padding: 16px 0px;
    margin-bottom: 25px;
    border-bottom: 1px solid $color-grey;

    p {
      margin-left: 16px;
      color: $color-grey;
      @include tiny-text;
      text-transform: uppercase;
    }
  }
}

.about {
  // margin-top: 25px;
  position: relative;
  height: 100%;

  .info-block {
    display: flex;
    flex-direction: row;

    @media (min-width: $screen-lg) {
      padding-top: 75px;
    }

    .left {
      flex-basis: 350px;
      margin-right: 100px;
      flex-shrink: 0;
      display: none;

      @media (min-width: $screen-lg) {
        display: block;
      }
    }

    .right {
      flex-grow: 1;
      z-index: 1;
      flex-shrink: 1;

      .block {
        margin-bottom: 48px;

        @media (min-width: $screen-lg) {
          padding-right: 100px;
        }

        .header {
          @include small-text;
          font-weight: 700;
          text-transform: uppercase;
          margin-bottom: 8px;
        }

        p {
          line-height: 1em;
        }

        .grey {
          color: #d8d8d8;
        }
      }

      .call-to-action {
        > * {
          margin-right: 16px;
        }
      }
    }
  }
}

.background {
  // transition: transform 0.2s ease-out;

  > div {
    transform: translateY(var(--translateY));
  }
}

.background {
  overflow: hidden;
  display: none;

  @media (min-width: $screen-lg) {
    display: block;
  }
}

.foreground {
  opacity: 0.5;

  @media (min-width: $screen-lg) {
    opacity: 1;
  }
}

.foreground,
.background,
.background > div {
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0px;

  img {
    object-fit: cover !important;

    @media (min-width: $screen-lg) {
      object-fit: contain !important;
    }
  }
}

.faq {
  display: flex;
  flex-direction: column;

  @media (min-width: $screen-lg) {
    flex-direction: row;
  }

  .left {
    flex-basis: 350px;
    margin-right: 100px;
    flex-shrink: 0;
  }

  .right {
    flex-grow: 1;
    flex-shrink: 0;
  }
}

.footer {
  padding-top: 40px;
  border-top: 1px solid $color-grey;
  margin-top: 40px;

  .block-1 {
    display: flex;
    padding-bottom: 40px;

    .left {
      flex-basis: 50%;
      margin-right: 50px;
    }

    .right {
      display: flex;
      flex-grow: 1;
      justify-content: flex-end;

      .content {
        flex-direction: column;
        display: flex;
        flex-basis: 500px;

        .logos {
          margin-top: 50px;
          display: flex;
          justify-content: space-between;

          > * {
            width: 200px;
            &:first-child {
              margin-right: 16px;
            }
          }
        }
      }
    }
  }

  .block-2 {
    display: flex;
    align-items: center;
    border-top: 1px solid $color-grey;
    border-bottom: 1px solid $color-grey;
    padding-top: 30px;
    padding-bottom: 30px;

    .left {
      flex-basis: 50%;
      display: flex;
      justify-content: space-between;
    }

    .right {
      display: flex;
      justify-content: flex-end;
    }
  }

  .copyright-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;

    .copyright {
      flex-shrink: 1;
    }

    .empire {
      margin-left: 40px;
      flex-shrink: 0;
    }
  }
}
