@import 'styles/variables.scss';

.menu-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-top: 16px;

  @media (min-width: $screen-xl) {
    margin-top: 24px;
    align-items: center;
    display: flex;
  }
}

.logo-container {
  display: flex;
  font-weight: bold;
  font-size: 56px;

  svg {
    width: 56px;
    height: 56px;
  }

  .title {
    @include tiny-text;
    margin-left: 40px;

    span {
      color: $color-orange;
    }
  }
}

.desktop-navigation {
  display: none;
  align-items: center;
  --icon-color: white;

  @media (min-width: $screen-xl) {
    display: flex;
  }

  > a {
    text-transform: uppercase;
    font-weight: normal;

    &:first-child {
      margin-left: 0px;
    }

    margin-left: 57px;
  }

  > :global(.button) {
    margin-left: 40px;
  }
}

.mobile-navigation {
  display: flex;

  @media (min-width: $screen-xl) {
    display: none;
  }

  .foldout-toggle {
    display: flex;
    align-items: center;

    > :global(.button) {
      margin-right: 20px;
    }
  }
}

.foldout-toggle {
  --icon-color: white;

  .clickable-surface {
    cursor: pointer;
    padding: 16px;
    margin: -16px;
    // transform: translateY(-12px);
  }
}

.foldout {
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  position: fixed;
  flex-direction: column;
  padding-top: 16px;
  background: #0d0d0d;
  bottom: 0px;
  z-index: 19;
  top: 0px;
  left: 0px;
  width: 100%;
  transform: translateY(-100%);
  transition: transform 400ms ease-out;
  --icon-color: white;

  @media (min-width: $screen-xl) {
    display: none !important;
  }

  &.open {
    transform: translateY(0px); //translateY(calc(0px + var(--headerHeight)));
  }

  > :global(.section) {
    flex-grow: 1;
  }

  .body {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;

    .header {
      display: flex;
      justify-content: space-between;
    }

    .nav {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      margin-top: 16px;

      .nav-item {
        text-transform: uppercase;
        font-weight: normal;
        display: block;
        border-bottom: 1px solid $color-grey;
        padding: 16px 0px;

        &:first-child {
          border-top: 1px solid $color-grey;
        }
      }
    }

    .foldout-toggle {
      svg {
        @include large-text;
      }
    }
  }

  // .foldout-toggle {
  //   position: absolute;
  //   right: 0px;
  //   top: 0px;
  //   padding: 16px;
  // }
}
